<%= form_with(model: club) do |form| %>
  <% if club.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(club.errors.count, "error") %> prohibited this club from being saved:</h2>

      <ul>
        <% club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :name, class:"input is-rounded is-dark", placeholder:"name" %>
  </div>

  <div>
    <%= form.text_area :description, class:"input is-rounded is-dark", placeholder:"description"  %>
  </div>
<br>
<!--  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div> -->

  <div class="button is-rounded is-light">
    <%= form.submit %>
  </div>
<% end %>
