<div style="padding:200px";>
<p style="color: green"><%= notice %></p>
<div class="breadcrumb"
<%= render @club %>>
<div>
  <% if !current_user.user? %>
    <%= link_to "Edit this club", edit_club_path(@club),class:"button is-info" %>
    <%= link_to "Destroy this club", @club, 'data-turbo-method': :delete,class:"button is-dark"%>
  <% end %>
  <%= link_to "Back to clubs", clubs_path,class:"button is-light" %>
</div>
</div>
</div>