<div id="<%= dom_id event %>">
  <p>
    <strong>Clubs:</strong>
    <%= event.clubs_id %>
  </p>

  <p>
    <strong>Eventname:</strong>
    <%= event.eventname %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= event.desc %>
  </p>

  <p>
    <strong>When:</strong>
    <%= event.when %>
  </p>

</div>
