<div id="<%= dom_id evaant %>">
  <p>
    <strong>Clubname:</strong>
    <%= evaant.clubname %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= evaant.evant %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= evaant.desc %>
  </p>

  <p>
    <strong>When:</strong>
    <%= evaant.when %>
  </p>

</div>
